
# /
*~
/*.tgz
/.deps
*.lo
*.la
/config.[^mw]*
/configure*
/lib*
/ac*.m4
/ltmain.sh
/install-sh
/Make*
/mk*
/missing
/.libs
/build
/include
/modules
/autom4te*
/.dep.inc
run-tests.php
/.cproject
/.project
.libs/
/php_raphf_api.h
Doxyfile.bak
!/Makefile.frag
